body {
  background: #000000;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body{
  background-image: url(https://library.sportingnews.com/styles/crop_style_16_9_desktop/s3/2021-08/sofi-stadium-090120-getty-ftr_f53wszq9wm9d1xupsb9q7qk7n.jpg?itok=GNtrj6WI);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#root{
  display: grid;
  text-align: center;
  place-content: center;
  min-height: 100vh;
}

.logo {
  height:300px;
  width:500px;
}

@media all and (max-width: 550px) {
  .logo {
    height: 180px;
    width:300px;
  }
}